<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">  
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="file:///Users/lucassolvibile/Documents/GitHub/CMPT-120L-902-21S/finale/templates/index.html">home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="file:///Users/lucassolvibile/Documents/GitHub/CMPT-120L-902-21S/finale/templates/aboutme.html">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="file:///Users/lucassolvibile/Documents/GitHub/CMPT-120L-902-21S/finale/templates/hobbies.html">Hobbies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="file:///Users/lucassolvibile/Documents/GitHub/CMPT-120L-902-21S/finale/templates/family.html">Family</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>
<header> <h1> My Hobbies</h1></header>
    <hr>
<body style="background-color: pink;"
<p>
  <center><b>#1 skiing, this is me in Whister CA</b></center>
</p>
    <nav> 
      <ul>
      <center><img src="/Users/lucassolvibile/Desktop/IMG_5891.jpeg" alt=""
        width="400"
        height="450"></center>
        </ul>  
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                <b>#2 cheering for philadelphia sports teams </b>
               <img src="/Users/lucassolvibile/Desktop/unnamed.jpg" alt=""
        width="300"
        height="350">
                </div>
                <div class="col-6">
                Here is a quick list of my top 5 atheles from philly (current) 
                <ol>
                  <li>Joel Embiid </li>
                  <li>Bryce Harper </li>
                  <li>Ben Simmons </li>
                  <li>Aaron Nola </li>
                  <li>Carter Hart</li> 
                </ol>
                </div>
            </div>
        </div>
        <p>
          <d1>
            <center><dt> #3, fishing with my friends </dt></center>
            <center><dd>this is a picture with my friend in upsate NY</dd></center>
          </d1>
         <center><img src="/Users/lucassolvibile/Desktop/IMG_7820.jpeg" alt=""
          width="400"
          height="400"
          class="rotateimg90"> </center> 
        </p>

<hr>
    <main>
    </main>
<footer> <small> &copy; Lucas Solvibile 2021</small>
<br> Email <a href="malito:lucas.solvibile1@marist.edu"> Lucas</a>
</footer>
</body>
</html>