<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">  
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="file:///Users/lucassolvibile/Documents/GitHub/CMPT-120L-902-21S/finale/templates/index.html">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="file:///Users/lucassolvibile/Documents/GitHub/CMPT-120L-902-21S/finale/templates/aboutme.html">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="file:///Users/lucassolvibile/Documents/GitHub/CMPT-120L-902-21S/finale/templates/hobbies.html">Hobbies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="file:///Users/lucassolvibile/Documents/GitHub/CMPT-120L-902-21S/finale/templates/family.html">Family</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
<header> <h1> About Lucas</h1></header>
<body style="background-color: powderblue;"
    <hr>
 <p>
<b>My Music </b>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;    
    }
    </style>
    </head>
    <body>
    
    
    <table style="width:70%">
      <tr>
        <th>Genre</th>
        <td>Top Artist</td>
      </tr>
      <tr>
        <th rowspan="5">Rap</th>
        <td>Drake</td>
      </tr>
      <tr>
        <td>Kanye</td>
      </tr>
        <td>Young Thug</td>
      <tr> 
          <td>Gunna</td>
      </tr>
      <tr> 
          <td>Saint JHN</td>
      </tr>
      <tr>
          <th rowspan="5">Alternative</th>
          <td>The Lumineers</td>
      </tr>
      <tr>
        <td>Vance Joy</td>
      </tr>
        <td>Edward Sharp & the Magnetic Zeros</td>
      <tr> 
          <td>Of Monsters and Men</td>
      </tr>
      <tr> 
          <td>Lorde</td>  
        </tr>
        <tr>
            <th rowspan="5">Rock</th>
            <td>The Beatles</td>
        </tr>
        <tr>
          <td>The Rolling Stones</td>
        </tr>
          <td>Pearl Jam</td>
        <tr> 
            <td>Pink Floyd</td>
        </tr>
        <tr> 
            <td>The Who</td>    
    </table>
</p>

<hr>
    <main>
    </main>
<footer> <small> &copy; Lucas Solvibile 2021
	<br> Email <a href="malito:lucas.solvibile1@marist.edu"> Lucas Email</a>

</footer>
</body>
</html>